 
<footer class="footer mt-5">
  <div class="container text-center">
    <p class="text-muted small">The Ruby on Rails Tutorial by Michael Hartl</p>
    <ul class="list-inline">
      <li class="list-inline-item"><%= link_to "About", about_path %></li>
      <li class="list-inline-item"><%= link_to "Contact", contact_path %></li>
      <li class="list-inline-item"><%= link_to "News", '#' %></li>
    </ul>
  </div>
</footer>