<footer class="footer mt-5">
  <div class="container text-center">
    <ul class="list-inline">
      <li class="list-inline-item"><%= link_to "About", '#' %></li>
      <li class="list-inline-item"><%= link_to "Contact", '#' %></li>
      <li class="list-inline-item"><%= link_to "Blog", '#' %></li>
    </ul>
    <p class="text-muted small">Book Review App © 2024</p>
  </div>
</footer>