<h1>Message from the Restaurant Admin</h1>

<p>Dear <%= @reservation.user.name %>,</p>

<p><%= @message %></p>

<p>For any further inquiries, please feel free to contact us.</p>

<p>Best regards,</p>
<p>The Restaurant Team</p>
