<% provide(:title, "All Events") %>
<h1>All Events</h1>
<%= link_to 'Create New Event', new_event_path %>
<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.name, event_path(event) %>
      <p><%= event.date.strftime("%B %d, %Y at %I:%M %p") %></p>
    </li>
  <% end %>
</ul>