<h1><%= @event.name %></h1>
<p><strong>Description:</strong> <%= @event.description %></p>
<p><strong>Date:</strong> <%= @event.date.strftime("%B %d, %Y at %I:%M %p") %></p>

<%= link_to 'Back to Events', events_path %>