<div class="cover-photo">
  <%= image_tag "bookreview-cover.jpg", alt: "Cover Photo", class: "img-fluid w-100" %>
  <div class="cover-text">
    <h1>Welcome to the Book Review App</h1>
    <p>Share your thoughts on your favorite books!</p>
  </div>
</div>
